@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* その他のスタイルは以下に記述していきます */

body {
    width: 100%;
}

.header{
    height: 50px;
    line-height: 50px;
    background: #000;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    color: whitesmoke;
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    margin-right: 40px;
    font-size: 12px;
}

.header-nav a {
    color: whitesmoke;
}

#eyecatch {
    height: 700px;
    background:url("./演習問題img/img/eyecatch.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}

#eyecatch .eyecatch-title {
    color: #fff;
    width: 550px;
    line-height: 700px;
    font-size: 50px;
    font-style: italic;
    font-family: MS 明朝;
    position: relative;
    top: 60px;
    left: 100px;
}

#eyecatch .newstitle {
    background-color: #fff;
    height: 50px;
    line-height: 25px;
    width: 600px;
    text-align: left;
    position: absolute;
    top: 700px;
    right: 80px;
}

#eyecatch .news {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 700px;
    right: 0%;
}

#mission {
    height: 600px;
    background-color: #000;
}

#mission .mission-title{
    color: #fff;
    font-size: 30px;
    line-height: normal;
    width: 570px;
    position: relative;
    top: 200px;
    left: 300px;
    z-index: 1;
}

#mission .mission-text {
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-align: justify;
    vertical-align: middle;
    position: relative;
    top: 220px;
    left: 300px;
    width: 850px;
    z-index: 1;
}

#mission .mission-button {
    padding: 5px 10px; 
    font-size: 14px;
    font-weight: bold;
    color:black;
    width: 130px;
    height: 30px;
    background-color: #fff;
    position: relative;
    top: 250px;
    left: 300px;
}

#mission .mission-img img{
    width: 650px;
    position: relative;
    top: 80px;
    left: 900px;
}

#service {
    background-color: #eee;
    height: 1500px;
    margin-top: 100px;
    padding: 0% 10%;
    position: relative;
}

#service h2 {
    font-size: 30px;
    color: rgb(65, 65, 65);
    line-height: normal;
    font-weight: bold;
    text-align: center;
}

#service .srv-wrap1 {
    background-color: #fff;
    height: 400px;
    width: 700px;
    position: absolute;
    top: 150px;
    right: 700px;
    object-fit: cover;
    z-index: 1;
}

#service .srv-logo {
    text-align: left;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    position:relative;
    top: 50px;
    left: 100px;
}

#service .srv-text {
    font-size: 14px;
    line-height: normal;
    width: 500px;
    position: relative;
    top: 100px;
    left: 100px;
}

#service .srv-img1 img{
    width: 800px;
    position: absolute;
    top: 100px;
    right: 0px;
}

#service .srv-button {
    width: auto;
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    border: 1px #000 solid;
    background-color: #fff;
    position: relative;
    top: 120px;
    left: 450px;
}

#service .srv-wrap2 {
    background-color: #fff;
    height: 400px;
    width: 700px;
    position: absolute;
    top: 830px;
    left: 700px;
    z-index: 1;
    object-fit: cover;
}

#service .srv-logo2 {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    position:relative;
    top: 50px;
    left: 100px;
}

#service .srv-text2 {
    font-size: 14px;
    line-height: normal;
    width: 500px;
    position: relative;
    top: 100px;
    left: 100px;
}

#service .srv-button2 {
    width: auto;
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    border: 1px #000 solid;
    background-color: #fff;
    position: relative;
    top: 120px;
    left: 450px;
}

#service .srv-img2 img{
    width: 800px;
    position: absolute;
    top: 800px;
    left: 0px;
}

#company1 {
    height: 400px;
    background-color: #fff;
    margin-top: 200px;
}

#company1 .company {
    float: left;
    background-image: url("./演習問題img/img/company.jpeg");
    width: 45%;
    height: 200px;
    color: #fff;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: normal;
}

#company1 .company h2{
    font-size: 40px;
}

#company1 .company p{
    font-size: 20px;
}

#company1 .recruit {
    float: right;
    background-image: url("./演習問題img/img/recruit.jpg");
    width: 45%;
    height: 200px;
    color: #fff;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: normal;
}

#company1 .recruit h2 {
    font-size: 40px;
}

#company1 .recruit p {
    font-size: 20px;
}

.FAQ {
    color: #fff;
    background-color: black;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 15% 200px 15%;
    padding-left: 3%;
}

.FAQ h2 {
    font-size: 35px;
}

.FAQ p {
    font-size: 20px;
    text-align: center;
}

#contact {
    background-image: url(./演習問題img/img/contact-bg.jpg);
    height: 600px;
    color: #fff;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: normal;
}

#contact h2 {
    font-size: 30px;
}

#contact h4 {
    font-size: 20px;
}

#contact h3 {
    font-size: 40px;
    font-weight: normal;
    margin: 20px;
}

#contact p {
    font-size: 14px;
    width: 80%;
    margin-bottom: 30px;
    text-align: center;
}

#contact button {
  padding: 5px 20px;
  font-size: 14px;
  color: #fff;
  text-decoration: none; 
  border: 1px #fff solid; 
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
}

a {
  text-decoration: none;
  color: inherit;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 5%;
}
.footer-ttl {
  font-size: 20px;
  width: 100%;
  margin-bottom: 30px;
}
.footer-nav-list {
  display: flex;
  font-weight: bold;
  width: 400px;
  font-size: 14px;
  justify-content: space-between;
  margin: 0 0 0 auto;
}

.copyright{
  font-size: 12px;
  width: 250px;
  margin: 0 auto 0 auto;
  text-align: center;
}