@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* その他のスタイルは以下に記述していきます */

.header{
    height: 50px;
    line-height: 50px;
    background: #000;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    color: whitesmoke;
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    margin-right: 40px;
    font-size: 12px;
    color: #fff;
}

#eyecatch {
    height: 700px;
    background:url("./演習問題img/img/eyecatch.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}

#eyecatch .eyecatch-title {
    color: #fff;
    line-height: 700px;
    font-size: 50px;
    font-style: italic;
    font-family: MS 明朝;
    position: relative;
    top: 60px;
    left: 100px;
}

#eyecatch .newstitle {
    background-color: #fff;
    height: 50px;
    line-height: 25px;
    width: 600px;
    position: absolute;
    top: 700px;
    right: 80px;
}

#eyecatch .news {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 700px;
    right: 0%;
}

#mission {
    height: 600px;
    background-color: #000;
}

#mission .mission-title{
    color: #fff;
    font-size: 30px;
    line-height: normal;
    vertical-align: middle;
}

#mission .mission-text {
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-align: justify;
    vertical-align: middle;
}

#mission .mision-button {
    padding: 5px 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border: 1px #fff solid;
    vertical-align: middle;
}

#mission .mission-img img{
    width: 30%;
    float: right;
}
